
$font-stack:    Helvetica, sans-serif
$primary-color: #1111
$second-color: white
$third-color: green


body {
  
  $primary-color
  background-color: white
}


header {background-color: $third-color}



.span {color:$third-color}

