
$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(156, 44, 100);
$second-color: yellow;
$third-color: green;


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: white;
}

p{ background-color: $primary-color; 
  color: $second-color;
  
}

header {background-color: $third-color;}

